
html {

    height: 100%;
}

body {
background-color: #2f3035;
background-image: url("https://i.imgur.com/gdWrMHj.jpeg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    height: 118px;
    text-align: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.34);
    
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
}

main {
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}

footer {
    background-color: rgba(0, 0, 0, 0.388);
}

footer p {

    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 11px;
}

h1 {
    font-size: 84px;
font-family: Arial, Helvetica, sans-serif;
color: white;
}

p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white; 
}

a {
    color: white;
    font-family: Arial, Helvetica, sans-serifs;
}

nav a {

    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.maps {
    padding-bottom: 70px;
}
